/* GENERICS */
body {
  background: #ecebe6;
  font-family: "Cairo", sans-serif;
}
/* HEADER */

/* MAIN */
.card-body .h5 {
  color: rgb(37, 37, 37);
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-align: center;
}
.card {
  min-height: 280px;
}
/* FOOTER */
